.main{
  width: 100vw;
  height: 100vh;
}

.first{
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid black;
  background-color: rgb(17, 1, 1);
  padding: 0 20px;
  position:fixed;
  z-index: 1000;
  padding-bottom: 10px;
  padding-top: 10px;
}

#watchlist-btn{
  height: 45px;
  width: fit-content;
  padding: 8px;
  background-color: rgb(172, 5, 5);
  outline: none;
  border: none;
  border-radius: 12px;
  color: white;
  font-weight: 700;
  cursor: pointer;
}


.second{
  display: flex;
  padding-bottom: 20px;
  flex-wrap: wrap;
  align-items: center;
  row-gap: 15px;
  column-gap: 10px;
  justify-content: space-around;
} 

#movie{
  border-radius: 10px;
  background-color: rgba(184, 190, 195, 0.803);
  color: rgba(236, 11, 26, 0.858);
  padding-top: 5px;
  width: 220px;
  height: 250px;
  row-gap: 6px;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 3px 3px 8px black, 5px 5px 10px rgb(205, 190, 190);
}

#watchlist{
  display: flex;
  align-items: center;
}

#para{
  font-weight: 600;
}

#watchlist-image{
  cursor: pointer;
}

.selected{
  display: none;
}

.visible{
  overflow: hidden;
  width: 350px;
  height: 520px;
  padding: 5px;
  /*background-color: rgba(114, 73, 218, 0.742);*/
  background-color: rgb(28 27 29 / 74%);
  position: absolute;
  top:56%;
  left: 50%;
  transform: translate(-50% , -50%);
  box-shadow: 5px 5px 3px black;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  align-items: end;
  justify-content: right;

}

#close-btn{
  cursor: pointer;
  display: block;
  
}

#s-movies{
  background-color: white;
  width: 100%;
  display: flex;
  column-gap: 15px;
  padding: 2.5px 0 2.5px 10px;
  align-items: center;
  border-radius: 10px;
}

#main{
  overflow: hidden;
 
}
#not-allowed{
  pointer-events: none;
}